/*general*/
#background_img{
    background-image: url(assets/kta.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
body{
    margin: 0px;
}
*{
    font-family: 'Montserrat', sans-serif;
}
*:focus{
    outline: none;
}
a{
    text-decoration: none;
}
.margin_left_10px{
    margin-left: 10px;
}
/*navbar*/
#navbar{
    background-color: rgba(150, 150, 150, 0);
    height: 60px;
    width: 100%;
    position: fixed;
}
.nav_item{
    margin-top: 30px;
    text-align: center;
    list-style-type: none;
    display: inline-block;

}
.nav_item a{
    color: white;
}
ul{
    text-align: center;
    margin: 0px;
}
#home_banner{
    display: block;
    position: relative;
    top: 200px;
    text-align: center;
    color: white;
}

#home_banner h1{
    margin-top: 0px;
}
#banner_sondage button{
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 20px;
    height: 70px;
    width: 150px;
    color: white;
    font-size: 40px;
    font-weight: bold;
    background: none;
    border: none;
    border-radius: 10px ;
}
#banner_sondage button:hover{
    font-size: 60px;
}
.reponse_banner{
    display: none;
    display: block;
    position: relative;
    top: 200px;
    text-align: center;
    color: white;
}
.reponse_banner *{
   display: none;
   text-align: center;
}
.reponse_banner h1{
    margin: 0px;
 }
 .banner_no h3{
     margin-top: 100px;
 }
 .banner_no button{
    margin-top: 20px;
    height: 70px;
    width: 150px;
    color: white;
    font-size: 40px;
    font-weight: bold;
    background: none;
    border: none;
    border-radius: 10px ;
 }
 .banner_no button:hover{
    font-size: 60px;
}
.reponse_banner h1{
    margin: 0px;
 }
 .banner_yes h3{
     margin-top: 100px;
 }
 .banner_yes button{
    margin-top: 20px;
    height: 70px;
    width: 150px;
    color: white;
    font-size: 40px;
    font-weight: bold;
    background: none;
    border: none;
    border-radius: 10px ;
 }
 .banner_yes button:hover{
    font-size: 60px;
}
#mapid { 
    height: 70vh;
    width: 80%;
    margin:0 auto;
    margin-top: 300px;
    margin-bottom: 130px;
    border-radius: 30px;
}
body{
    background-color: #000000;
}
footer{
    float: bottom;
    color: white;
    text-align: center;
}
footer h3{
    margin-bottom: 30px;
}